* {
    font-size: 20px;
    font-family: wingdings;
    background-color: black;
    color: green;
}

#decoder {
    font-family: menlo;
    width: fit-content;
    text-align: center;
}

#decoderDiv {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
}

div {
    margin-top: 20px;
}

#stretchCalculator {
    padding: 10px;
    table-layout: fixed;
    background-image: url(https://lh3.googleusercontent.com/FC_0vzxJCsStNZvQvR2QGOD_79g-7avaCLwj-D_xHWqVKXzl1ayshvm2PFfOIyvYhCi1TQ=s128);
}

#stretchCalculator, #formattedCalculator {
    text-align: center;
    margin: auto;
}

#tableBody {
    border: 8px solid black;
    padding: 20px;
}

#liveDisplay {
    width: 165px;
    height: 40px;
}

h1 {
    text-align: center;
}
li {
    font-family: menlo;
}